<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510234675595-oc3av279nqtlh6lpi5m55cpasijoc3iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510234675595-oc3av279nqtlh6lpi5m55cpasijoc3iu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510234675595-1mduqqqboaq5f4gagq833lua9uk7ndb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmvabTQwvdbCSdvHCJHrnIqUHqbeFRQgY</string>
	<key>GCM_SENDER_ID</key>
	<string>510234675595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.howzu</string>
	<key>PROJECT_ID</key>
	<string>visionarylife-3391f</string>
	<key>STORAGE_BUCKET</key>
	<string>visionarylife-3391f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510234675595:ios:3b6abd315b1000f431c78e</string>
	<key>DATABASE_URL</key>
	<string>https://visionarylife-3391f.firebaseio.com</string>
</dict>
</plist>